<a href="https://colab.research.google.com/github/aimanhaizal/udemy-academy-rest-API-lessons/blob/main/PythonRefresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
print("Hello, World!")

Hello, World!

In [26]:
x = 1500
price = 9.99

discount = 0.2

result = price*(1-discount)
print(result)

7.992000000000001

In [27]:
name = "rolf"
name = "bob"
print(name)
print(name*2)

bob
bobbob

In [28]:
a = 25
b = a

print(a)
print(b)

b = 17
print(a)
print(b)

25
25
25
17

In [29]:
name = "Bob"
greeting =f"Hello,{name}"
#fstring embed variables in string

print(f"Hello,{name}")

name= "Rolf"
print(f"Hello,{name}")

Hello,Bob
Hello,Rolf

In [30]:
#template strings
name = "Bob"
greeting = "Hello, {}"
with_name = greeting.format(name)
#called the format function inside greeting

with_name_two = greeting.format("Rolf")
print(with_name)
print(with_name_two)

Hello, Bob
Hello, Rolf

In [31]:
longer_phrase = "Hello, {}. Today is {}."
formatted = longer_phrase.format("Bob", "Monday")
print(formatted)

Hello, Bob. Today is Monday.

In [32]:
name=input("What is your name?")
print(f"Hello,{name}")

What is your name?bob
Hello,bob

In [33]:
size_input = input("How big is your house (in square feet)?")
square_feet = int(size_input)
square_meters = square_feet/10.8
print(f"{square_feet} square feet is {square_meters:.2f} square meters.")

How big is your house (in square feet)?32
32 square feet is 2.96 square meters.

In [34]:
# user_age = input("Enter your age:")
user_age = int(input("Enter your age:"))
age_in_days = int(user_age)*365
print(f"Your age in days is {age_in_days}.")
age_in_month = int(user_age)*12
print(f"Your age in days is {age_in_month}.")

Enter your age:32
Your age in days is 11680.
Your age in days is 384.

In [35]:
l = ["Bob","Rolf","Anne"]
print(l)
#you cannot change inside a tuple
t=("Bob","Rolf","Anne")
print(t)
#set, you cannot havedupes
s={"Bob","Rolf","Anne"}
print(s)
# print(l[0])
# print(t[0])
#set cannot have subscript
# print(s[0])
# l[0] = "Smith"

# t[0] = "Anne

['Bob', 'Rolf', 'Anne']
('Bob', 'Rolf', 'Anne')
{'Bob', 'Rolf', 'Anne'}

In [37]:
print(s[1])

TypeError: 'set' object is not subscriptable

In [38]:
w = ["Bob","Rolf","Anne"]
# print(l)

w[1] = "Smith"
print(w)

['Bob', 'Smith', 'Anne']

In [39]:
l.append("Smith")
print(l)

l.remove("Bob")
print(l)

['Bob', 'Rolf', 'Anne', 'Smith']
['Rolf', 'Anne', 'Smith']

In [40]:
print(s)
s.add("Smith")
s.add("Smith")
print(s)
#sets cannot have duplicates

{'Bob', 'Rolf', 'Anne'}
{'Bob', 'Rolf', 'Smith', 'Anne'}

In [41]:
friends = {"Bob","Rolf","Anne"}
abroad = {"Bob","Anne"}
#finds the difference between friends and abroad
local_friends = friends.difference(abroad)
print(local_friends)
#

{'Rolf'}

In [42]:
local = {"Rolf"}
abroad = {"Bob","Anne"}
#finds the union between local and abroad
friends = local.union(abroad)
print(friends)
#

{'Bob', 'Rolf', 'Anne'}

In [43]:
art={"Bob","Jen","Rolf","Charlie"}
science = {"Bob","Jen","Adam","Anne"}
both = art.intersection(science)
print(both)
#finding out which friends study both art and science

{'Jen', 'Bob'}

In [44]:
#booleans
print(5 == 5)
print(5 > 5)
print(10 != 10)

True
False
False

In [45]:
friends = ["Rolf","Bob"]
abroad = ["Rolf","Bob"]
# print(friends == abroad)
print(friends is abroad)
#the lists themselves are different

False

In [46]:
day_of_week = input("What day of the week is it today?").lower()
if day_of_week == "monday":
    print("Have a great start to your week!")
elif (day_of_week == "teusday"):
    print("Its chewsday innit?")
else:
    print("Full speed ahead")

print(day_of_week =="Monday")

What day of the week is it today?teusday
Its chewsday innit?
False

In [47]:
#the in keywords
friends = ["Rolf","Bob","Jen"]
print("Bob" in friends)

True

In [48]:
movies_watched = {"The Matrix","Green Book","Her"}
user_movie = input("Enter something you've watched recently")
print(user_movie in movies_watched)

Enter something you've watched recentlyThe Matrix
True

In [49]:
movies_watched = {"The Matrix","Green Book","Her"}
user_movie = input("Enter something you've watched recently")

if user_movie in movies_watched:
    print(f"I've watched {user_movie} too!")
else:
    print("I haven't watched that yet.")

Enter something you've watched recentlyHer
I've watched Her too!

In [50]:
number = 7
user_input = input("Enter 'y' if you would like to play:")
if user_input in ("y","Y"):
    user_number = int(input("Guess our number:"))
    if user_number == number:
        print("You guessed correctly!")
    elif number - user_number in (1, -1):
    # elif abs(number - user_number) == 1:

        print("You were off by one.")
    else:
        print("Sorry, it's wrong!")
elif user_input != "y":
    quit()

Enter 'y' if you would like to play:y
Guess our number:3
Sorry, it's wrong!

In [52]:
number = 7
# user_input = input("Would you like to play? (Y/n)")

while True:
    user_input = input("Enter 'y' if you would like to play:")
    if user_input == "n":
        break


    user_number = int(input("Guess our number:"))
    if user_number == number:
        print("You guessed correctly!")
        break
    elif number - user_number in (1, -1):
        print("You were off by one.")
    else:
        print("Sorry, it's wrong!")

Enter 'y' if you would like to play:y
Guess our number:10
Sorry, it's wrong!
Enter 'y' if you would like to play:n

In [53]:
friends = ["Rolf","Jen","Bob", "Anne"]
for friend in friends:
    print(f"{friend} is my friend.")

for i in range(4):
    print(f"{friends[i]} is my friend.")

Rolf is my friend.
Jen is my friend.
Bob is my friend.
Anne is my friend.
Rolf is my friend.
Jen is my friend.
Bob is my friend.
Anne is my friend.

In [54]:
grades = [35,67,98,100,100]
total = 0
amount = len(grades)

for grade in grades:
    total += grade

print(total/amount)
#

80.0

In [55]:
grades = [35,67,98,100,100]
total = sum(grades)
amount = len(grades)
print(total/amount)

80.0

In [56]:
numbers = [1,3,5]
doubled = [x*2 for x in numbers]
print(doubled)

[2, 6, 10]

In [57]:
friends = ["Rolf","Sam","Samantha","Saurabh","Jen"]
starts_s = [friend for friend in friends if friend.startswith("S")]
print(starts_s)
#
print("friends: ", id(friends), " starts_s: ", id(starts_s))

['Sam', 'Samantha', 'Saurabh']
friends:  139761086814400  starts_s:  139761087934912

In [58]:
#dictionaries
friend_ages = {"Rolf":24,"Adam":30,"Anne":27}
friend_ages["Bob"] = 20
print(friend_ages)

{'Rolf': 24, 'Adam': 30, 'Anne': 27, 'Bob': 20}

In [59]:
friends = [
    {"name":"Rolf","age":24},
    {"name":"Adam","age":30},
    {"name":"Anne","age":27}
]
print(friends[0]["name"])
#

Rolf

In [60]:
student_attendance = {"Rolf":96,"Bob":80,"Anne":100}
for student,attendance in student_attendance.items():
    # print(f"{student}: {student_attendance[student]}%")
    print(f"{student}: {attendance}%")

#

Rolf: 96%
Bob: 80%
Anne: 100%

In [61]:
student_attendance = {"Rolf":96,"Bob":80,"Anne":100}

if "Bob" in student_attendance:
    print(f"Bob: {student_attendance['Bob']}")
else:
    print("Bob isn't a student in this class!")

attendance_values = student_attendance.values()
print(sum(attendance_values)/len(attendance_values))
#

Bob: 80
92.0

In [62]:
t=5,11
x, y = t
print(x,y)

5 11

In [63]:
student_attendance = {"Rolf":96,"Bob":80,"Anne":100}
print(list(student_attendance.items()))

for student, attendance in student_attendance.items():
    print(f"{student}:{attendance}")

# for t in student_attendance.items():
#     print (t)

[('Rolf', 96), ('Bob', 80), ('Anne', 100)]
Rolf:96
Bob:80
Anne:100

In [64]:
people = [("Bob",42,"Mechanic"),("James",24,"Artist"),("Harry",32,"Lecturer")]

for name, age, profession in people:
    print(f"Name:{name}, Age:{age}, Profession:{profession}")
#

Name:Bob, Age:42, Profession:Mechanic
Name:James, Age:24, Profession:Artist
Name:Harry, Age:32, Profession:Lecturer

In [65]:
person =("Bob",42,"Mechanic")
name,_,profession = person
print(name,profession)

Bob Mechanic

In [66]:
head, *tail = [1,2,3,4,5]
print(head)
print(tail)

1
[2, 3, 4, 5]

In [67]:
def hello():
    print("Hello!")

hello()

Hello!

In [68]:
def user_age_in_seconds():
    user_age = int(input("Enter you age:"))
    age_seconds = user_age*365*24*60*60
    print(f"Your age in seconds is {age_seconds}.")

user_age_in_seconds()

Enter you age:32
Your age in seconds is 1009152000.

In [69]:
friends = ["Rolf","Bob"]

def add_friend():
    friend_name = input("Enter your friend name:")
    friends.append(friend_name)

add_friend()

Enter your friend name:Rolg

In [71]:
#del print

In [72]:
def add_friend():
    friends.append("Rolf")

friends=[]
add_friend()
add_friend()
add_friend()

print(friends)

['Rolf', 'Rolf', 'Rolf']

In [73]:
def add(x,y):
    result = x+y
    return result

add(5,3)

8

In [74]:
def say_hello(name):
    print(f"Hello {name}")

say_hello("Bob")

Hello Bob

In [75]:
def say_hello(name,surname):
    print(f"Hello {name} {surname}")


say_hello(surname = "Bob",name = "Smith")

Hello Smith Bob

In [76]:
def divide(dividend, divisor):
    if divisor != 0:
        return dividend/divisor
    else:
        return "You fool!"

divide(dividend=15, divisor=0)

'You fool!'

In [77]:
def add(x,y=8):
    return x+y
    print("This shouldn't print")

add(5,90)

95

In [78]:
default_y = 5
def add(x,y=default_y):
    return x+y

add(2)
#

7

In [79]:
def add(x,y):
  return (x+y)

add(5,3)
result = add(5,3)
print(result)

8

In [80]:
def divide(dividend, divisor):
    if divisor != 0:
        return dividend/divisor
    else:
        return "You fool!"
        print("This won't print")


result=divide(15,0)
print(result)
#

You fool!

In [81]:
#lambda functions, only for return values
#only input outputs

def add(x,y):
    return x+y

add = lambda x,y: x+y

print(add(5,3))

8

In [82]:
(lambda x,y: x+y)(5,3)

8

In [83]:
def double(x):
    return x*2

# double = lambda x: x*2

# print(double(5))

sequence = [1,3,5,9]
doubled = [double(x) for x in sequence]
print(doubled)
#make it a list if you want to actually see the values
doubled=list(map(lambda x:x*2,sequence))
print(doubled)

[2, 6, 10, 18]
[2, 6, 10, 18]

In [84]:
users = [
    (0,"Bob","password"),
    (1,"Rolf","bob123"),
    (2,"Jose","longp4assword"),
    (3,"username","1234")
]
username_mapping = {user[1]:user for user in users}
print(username_mapping)

{'Bob': (0, 'Bob', 'password'), 'Rolf': (1, 'Rolf', 'bob123'), 'Jose': (2, 'Jose', 'longp4assword'), 'username': (3, 'username', '1234')}

In [85]:
users = [
    (0,"Bob","password"),
    (1,"Rolf","bob123"),
    (2,"Jose","longp4assword"),
    (3,"username","1234")
]
username_mapping = {user[1]:user for user in users}

username_input = input("Enter your username:")
password_input = input("Enter your password:")

_, username, password = username_mapping[username_input]

if password_input == password:
    print("Your details are correct!")
else:
    print("Your details are incorrect!")

Enter your username:Bob
Enter your password:password
Your details are correct!

In [86]:
#create a dictionary
student = {
    'name': 'Jose',
    'school': 'Computing',
    'grades': (66, 77, 88)
}

In [87]:
#modify grade function
def average_grade(data):
    grades = data['grades']  # Access the 'grades' key from the data dictionary
    return sum(grades) / len(grades)  # Return the average

In [88]:
#add all grades
def average_grade_all_students(student_list):
    total = 0
    count = 0
    for student in student_list:
        grades = student['grades']  # Access the 'grades' for each student
        total += sum(grades)  # Add the sum of grades for the current student to total
        count += len(grades)  # Add the number of grades for the current student to count

    # Return the average grade for the entire class
    return total / count if count > 0 else 0

In [89]:
def multiply(*args):
    total = 1
    for arg in args:
        total *= arg
    return total

print(multiply(1,3,5))
#* means it takes any number of arguments

15

In [90]:
def add(x,y):
    return x+y

# nums = [3,5]
nums = {"x":15, "y":25}
print(add(**nums))
#print(add(nums))
#split the nums into x and y below
# print(add(*nums))

40

In [91]:
def multiply(*args):
    print(args)
    total = 1
    for arg in args:
        total *= arg
    return total

def apply(*args, operator):
    if operator == "*":
        return multiply(*args)
    elif operator == "+":
        return sum(args)
    else:
        return "No valid operator provided to apply()."

print(apply(1,3,6,7, operator="*"))

(1, 3, 6, 7)
126

In [92]:
#unpacking keyword arguments
def named(**kwargs):
    print(kwargs)

named(name="Bob",age=25)

{'name': 'Bob', 'age': 25}

In [93]:
def named(name, age):
    print(name,age)

details = {"name":"Bob","age":25}
named(**details)

Bob 25

In [94]:
def named(**kwargs):
    print(kwargs)

def print_nicely(**kwargs):
    named(**kwargs)
    for arg, value in kwargs.items():
        print(f"{arg}:{value}")

print_nicely(name="Bob",age=25)
#the items is for dictionaries

{'name': 'Bob', 'age': 25}
name:Bob
age:25

In [95]:
def both(*args, **kwargs):
    print(args)
    print(kwargs)

both(1,3,5,name="Bob",age=25)
#** is always a dictionary

(1, 3, 5)
{'name': 'Bob', 'age': 25}

#Object Oriented Programming

In [96]:
student = {"name":"Rolf","grades":(89,90,93,78,90)}

def average(sequence):
    return sum(sequence)/len(sequence)

print(average(student["grades"]))
#the function does notr know anything about the student
#its better if we ask specific average about the student
# print(student.average())

88.0

In [97]:
class Student:
  #defining how a student will behave
  def __init__(self):
    self.name = "Rolf"
    self.grades = (89,90,93,78,90)

  def average_grade(self):
    return sum(self.grades)/len(self.grades)

student = Student()
print(student.name)
print(student.grades)
# print(Student.average(student))
print(student.average_grade())
#

Rolf
(89, 90, 93, 78, 90)
88.0

In [98]:
class Student:
  #defining how a student will behave
  def __init__(self,name,grades):
    self.name = name
    self.grades = grades

  def average_grade(self):
    return sum(self.grades)/len(self.grades)

student = Student("Bob", (100,100,93,78,90))
student2 = Student("Rolf", (89,90,93,78,90))
# print(student.name)
# print(student.grades)
print(Student.average_grade(student2))
print(student2.average_grade())
# print(student2.average_grade())
#

88.0
88.0

##__str__ and __repr__ methods

In [99]:
class Person:
  def __init__(self,name,age):
      self.name = name
      self.age = age

  # def __str__(self):
  #   return f"Person {self.name}, {self.age} years old."
  def __repr__(self):
    return f"<Person({self.name},{self.age})>"
    # return "Hellow"



bob = Person("Bob",35)
print(bob)

#str method is to turn your object into a string
#repr is when to print an unambiguous representation of an object

<Person(Bob,35)>

In [100]:
class Store:
  def __init__(self,name):
    self.name = name
    self.items = []
  #make init method, it only takes name, and it should initialise name and self items
  #store object will always have these two properties
  def add_item(self,name,price):
    item = {'name':name, 'price':price}
    self.items.append(item)

  def stock_price(self):
    # total = 0
    # for item in self.items:
    #   total += item['price']
    # return total

    return sum([item['price'] for item in self.items])

    #it creates a diuctionary with keys name and price which appends to self items
    #this dictionary will have name and price

#classmethod and static method

In [101]:
class ClassTest:
  def instance_method(self):
    print(f"Called instance_method of {self}")

# test = ClassTest()
# test.instance_method()
#instance method means called on class instance

  @classmethod
  def class_method(cls):
    print(f"Called class_method of {cls}")

  @staticmethod
  def static_method():
    print("Called static_method.")

ClassTest.class_method()
ClassTest.static_method()
#instance method used for most things
#

Called class_method of <class '__main__.ClassTest'>
Called static_method.

In [102]:
class Book:
  TYPES = ("hardcover","paperback")
  def __init__(self,name,book_type,weight):
    self.name = name
    self.book_type = book_type
    self.weight = weight

  def __repr__(self):
    return f"<Book {self.name},{self.book_type},{self.weight}g>"

  @classmethod
  def hardcover(cls,name,page_weight):
    return cls(name,cls.TYPES[0],page_weight+100)

  @classmethod
  def paperback(cls,name,page_weight):
    return cls(name,cls.TYPES[1],page_weight)

# print(Book.TYPES)
# book = Book("Harry Potter","comic book",1500)
book = Book.hardcover("Harry Potter",1500)
light = Book.paperback("Python101",1500)
print(book)
print(light)
#

<Book Harry Potter,hardcover,1600g>
<Book Python101,paperback,1500g>

In [103]:
animal = "lion"
print(f"A {animal} is a cold animal.")

A lion is a cold animal.

In [104]:
class Store:
    def __init__(self, name):
        self.name = name
        self.items = []

    def add_item(self, name, price):
        self.items.append({
            'name': name,
            'price': price
        })

    #just returns all item value in store
    def stock_price(self):
        total = 0
        for item in self.items:
            total += item['price']
        return total

    @classmethod
    def franchise(cls, store):
        # Return another store, with the same name as the argument's name, plus " - franchise"
        return cls(store.name + " - franchise")


    @staticmethod
    def store_details(store):
        # Return a string representing the argument
        # It should be in the format 'NAME, total stock price: TOTAL'
        return "{}, total stock price: {}".format(store.name, int(store.stock_price()))
        # return f"{store.name}, total stock price: {stock_price()}"
        # return f"<Book {self.name},{self.book_type},{self.weight}g>"



#cls is just referencing to the main Store class.

In [105]:
store = Store("Test")
store2 = Store("Amazon")
store2.add_item("Keyboard", 160)
print(Store.franchise(store))
print(Store.franchise(store2))
print(Store.store_details(store))
print(Store.store_details(store2))

<__main__.Store object at 0x7f1ca9f30940>
<__main__.Store object at 0x7f1ca9f337f0>
Test, total stock price: 0
Amazon, total stock price: 160

In [106]:
# Create a store
store = Store("Tech Store")

# Add items to the store
store.add_item("Laptop", 1200)
store.add_item("Phone", 800)

# Print stock price of the original store
print(f"Stock price of {store.name}: {store.stock_price()}")  # Output: Stock price of Tech Store: 2000

# Create a franchise store
franchise_store = Store.franchise(store)

# Print the name of the franchise store
print(f"Franchise store name: {franchise_store.name}")  # Output: Franchise store name: Tech Store - franchise

# Print the details of the franchise store
print(Store.store_details(franchise_store))  # Output: Tech Store - franchise, total stock price: 0

# Print the details of the original store
print(Store.store_details(store))  # Output: Tech Store, total stock price: 2000

Stock price of Tech Store: 2000
Franchise store name: Tech Store - franchise
Tech Store - franchise, total stock price: 0
Tech Store, total stock price: 2000

#class inheritance

In [107]:
class Device:
  def __init__(self,name,connected_by):
    self.name = name
    self.connected_by = connected_by
    self.connected = True

    def __str__(self):
      return f"Device {self.name!r} ({self.connected_by})"

  def disconnect(self):
    self.connected = False
    print("Disconnected.")

# printer = Device("Printer","USB")
# print(printer)
# printer.disconnect()
#

class Printer(Device):
  def __init__(self,name,connected_by,capacity):
    #this init comes from the inheritance of the parent

    super().__init__(name,connected_by)
    self.capacity = capacity
    self.remaining_pages = capacity

  def __str__(self):
    return f"{super().__str__()} ({self.remaining_pages} pages remaining)"

  def print(self,pages):
    if not self.connected:
      print("Your printer is not connected!")
      return
    print(f"Printing {pages} pages.")
    self.remaining_pages -= pages

printer = Printer("Printer","USB",500)
print(printer)
printer.print(20)
print(printer)
printer.disconnect()
printer.print(30)
#

<__main__.Printer object at 0x7f1ca9f30370> (500 pages remaining)
Printing 20 pages.
<__main__.Printer object at 0x7f1ca9f30370> (480 pages remaining)
Disconnected.
Your printer is not connected!

#class composition
##the opposite of inheritance

In [108]:
class BookShelf:
  def __init__(self,quantity):
    self.quantity = quantity

  def __str__(self):
    return f"BookShelf with {self.quantity} books."

shelf = BookShelf(300)
# print(shelf)

class Book(BookShelf):
  def __init__(self,name,quantity):
    super().__init__(quantity)
    self.name = name

  def __str__(self):
    return f"Book {self.name}"

book = Book("Harry Potter", 120)
print(book)

Book Harry Potter

In [109]:
class BookShelf:
  def __init__(self,*books):
    self.books = books

  def __str__(self):
    return f"BookShelf with {len(self.books)} books."

# shelf = BookShelf(300)
# print(shelf)

class Book:
  def __init__(self,name):
    self.name = name

  def __str__(self):
    return f"Book {self.name}"

book = Book("Harry Potter")
book2 = Book("Python 101")

shelf = BookShelf(book,book2)
print(shelf)
print(book)
print(book2)

BookShelf with 2 books.
Book Harry Potter
Book Python 101

#type hinting

In [110]:
# def list_avg(sequence:list) -> float:
#   return sum(sequence)/len(sequence)
from typing import List

def list_avg(sequence: list) -> float:
  return sum(sequence)/len(sequence)

print(list_avg([123]))  # Output: 123.0
print(list_avg([1, 2, 3]))  # Output: 2.0

123.0
2.0

In [111]:
class Book:
  #no return values because this doesnt return anything
  def __init__(self,name:str,page_count:int):
    self.name = name
    self.page_count = page_count

book = Book("Harry Potter",500)
print(book)

<__main__.Book object at 0x7f1ca9f44ee0>

In [112]:
from typing import List

class BookShelf:
  #the book parameter is a list of book objects
  def __init__(self,books:List[Book]):
    self.books = books

  #STRING BEING RETURNSED FROM THE STR
  def __str__(self) -> str:
    return f"BookShelf with {len(self.books)} books."

book = Book("Harry Potter",500)
book2 = Book("Python 101",600)
shelf = BookShelf([book,book2])
print(shelf)

BookShelf with 2 books.

In [113]:
class Book:
  TYPES = ("hardcover","paperback")
  def __init__(self,name:str,book_type:str,weight:int):
    self.name = name
    self.book_type = book_type
    self.weight = weight

  def __repr__(self) -> str:
    return f"<Book {self.name},{self.book_type},{self.weight}g>"

  @classmethod
  def hardcover(cls,name:str,page_weight:int) -> "Book":
    return cls(name,cls.TYPES[0],page_weight+100)

  @classmethod
  def paperback(cls,name:str,page_weight:int) -> "Book":
    return cls(name,cls.TYPES[1],page_weight)

book = Book("Harry Potter")

TypeError: Book.__init__() missing 2 required positional arguments: 'book_type' and 'weight'

In [ ]:
import mymodule

mymodule.sqroot(5)

In [ ]:
from mymodule2 import divide
print(divide(10,2))
print(__name__)

In [ ]:
import sys

print(sys.path)

In [ ]:
# import libs.mylib

In [ ]:
import mymodule2
import sys

In [ ]:
#main here
import mymodule

print("code.py: ", __name__)

#Relative Imports

In [ ]:
import mymodule

/content/mymodule.py

#Monday 9/9 Codes

In [ ]:
#relative imports in python
import mymodule

print("code.py", __name__)

In [ ]:
# from .mymodule import divide

print("code.py", __name__)

#Errors in python

In [114]:
def divide(dividend,divisor):
  if divisor == 0:
    # raise ZeroDivisionError("Divisor cannot be 0.")
    print("Divisor cannot be 0.")
    return

  return dividend/divisor

# divide(10,0)
# grades = [78,99,85,100]
grades = []
print("Welcome to the average grade program.")
average = divide(sum(grades),len(grades))
print(f"The average grade is {average}.")

Welcome to the average grade program.
Divisor cannot be 0.
The average grade is None.

In [115]:
def divide(dividend,divisor):
  if divisor == 0:
    raise ZeroDivisionError("Divisor cannot be 0.")
    # print("Divisor cannot be 0.")
    # return

  return dividend/divisor

grades=[]

print("Welcome to the average grade program.")
try:
  average = divide(sum(grades),len(grades))
  # print(f"The average grade is {average}.")
except ZeroDivisionError as e:
  print(e)
  print("There are no grades yet in your list.")
else:
  print(f"The average grade is {average}.")
finally:
  print("Thank you!")
#

Welcome to the average grade program.
Divisor cannot be 0.
There are no grades yet in your list.
Thank you!

In [116]:
def divide(dividend,divisor):
  if divisor == 0:
    raise ZeroDivisionError("Divisor cannot be 0.")

  return dividend/divisor

students = [
    {"name":"Bob","grades":[75 , 90]},
  {"name":"Rolf","grades":[]},
  {"name":"Jen","grades":[100,90]}
]

try:
  for student in students:
    name = student["name"]
    grades = student["grades"]
    average = divide(sum(grades),len(grades))
    print(f"{name} averaged {average}.")
except ZeroDivisionError as e:
  print(f"ERROR: {name} has no grades!")
  print(e)
else:
  print("-- All student averages calculated--")
finally:
  print("-- End of student average calculation--")

Bob averaged 82.5.
ERROR: Rolf has no grades!
Divisor cannot be 0.
-- End of student average calculation--

#Custom error classes

In [117]:
class TooManyPagesReadError(ValueError):
  pass

class Book:
  def __init__(self,name:str,page_count:int):
    self.name = name
    self.page_count = page_count
    self.pages_read = 0

  def __repr__(self):
    return (
      f"<Book {self.name}, read {self.pages_read} pages out of {self.page_count}>"
    )

  def read(self,pages:int):
    if self.pages_read + pages > self.page_count:
      raise ValueError(
          f"You tried to read {self.pages_read + pages} pages, but this book only has {self.page_count} pages."
          )
    self.pages_read += pages
    print(f"You have now read {self.pages_read} pages out of {self.page_count}.")

python101 = Book("Python 101",50)
try:
  python101.read(35)
  python101.read(50)
except TooManyPagesReadError as e:
  print(e)

You have now read 35 pages out of 50.

ValueError: You tried to read 85 pages, but this book only has 50 pages.

#First Class Functions

In [118]:
def divide(dividend,divisor):
  if divisor == 0:
    raise ZeroDivisionError("Divisor cannot be 0.")

  return dividend/divisor

def calculate(*values, operator)  :
  return operator(*values)

result = calculate(20,4,operator=divide)
print(result)
#pass in divide operator as the function to be used with (*values)

5.0

In [119]:
def search(sequence,expected,finder):
  for elem in sequence:
    if finder(elem) == expected:
      return elem
  raise RuntimeError(f"Could not find an element with {expected}.")

friends = [
    {"name":"Rolf Smith","age":24},
  {"name":"Adam Wool","age":30},
  {"name":"Anne Pun","age":27}
]

def get_friend_name(friend):
  return friend["name"]

print(search(friends,"Rolf Smith",get_friend_name))
#

{'name': 'Rolf Smith', 'age': 24}

In [120]:
def search(sequence,expected,finder):
  for elem in sequence:
    if finder(elem) == expected:
      return elem
  raise RuntimeError(f"Could not find an element with {expected}.")

friends = [
    {"name":"Rolf Smith","age":24},
  {"name":"Adam Wool","age":30},
  {"name":"Anne Pun","age":27}
]

# def get_friend_name(friend):
#   return friend["name"]

print(search(friends,"Rolf Smith",lambda friend: friend["name"]))
#

{'name': 'Rolf Smith', 'age': 24}

In [121]:
#using modules to get the items
from operator import itemgetter

def search(sequence,expected,finder):
  for elem in sequence:
    if finder(elem) == expected:
      return elem
  raise RuntimeError(f"Could not find an element with {expected}.")

friends = [
    {"name":"Rolf Smith","age":24},
  {"name":"Adam Wool","age":30},
  {"name":"Anne Pun","age":27}
]

# def get_friend_name(friend):
#   return friend["name"]

print(search(friends,"Rolf Smith",itemgetter("name")))
#

{'name': 'Rolf Smith', 'age': 24}

#simple decorators in python

we can secure functions

In [122]:
user = {"username":"jose","access_level":"guest"}

def get_admin_password():
  return "1234"

def secure_get_admin_password():
  if user["access_level"] == "admin":
    return "1234"
  # raise ValueError("Permission denied")

print(secure_get_admin_password())

# if user["access_level"] == "admin":
#   print(get_admin_password())


print(get_admin_password())

None
1234

In [123]:
user = {"username":"jose","access_level":"guest"}

def get_admin_password():
  return "1234"

def secure_function(func):
  if user["access_level"] == "admin":
    return func
  raise ValueError("Permission denied")

get_admin_password = secure_function(get_admin_password)

print(get_admin_password())
#

ValueError: Permission denied

In [124]:
user = {"username":"jose","access_level":"guest"}

def get_admin_password():
  return "1234"

def make_secure(func)  :
  def secure_function():
    if user["access_level"] == "admin":
      return func()
    else:
      return f"No admin permissions for {user['username']}"
    # raise ValueError("Permission denied")
  return secure_function #this is the decorator

get_admin_password = make_secure(get_admin_password)

print(get_admin_password())

No admin permissions for jose

#the 'at' syntax

In [125]:
import functools

user = {"username":"jose","access_level":"guest"}



def make_secure(func)  :
  @functools.wraps(func)
  def secure_function():
    if user["access_level"] == "admin":
      return func()
    else:
      return f"No admin permissions for {user['username']}"

  return secure_function

@make_secure #this is the decorator
def get_admin_password():
  return "1234"

# get_admin_password = make_secure(get_admin_password)

print(get_admin_password.__name__)
print(get_admin_password())

get_admin_password
No admin permissions for jose

#decorating functions with parameters

In [126]:
import functools

user = {"username":"jose","access_level":"guest"}



def make_secure(func)  :
  @functools.wraps(func)
  def secure_function(*args, **kwargs):
    if user["access_level"] == "admin":
      return func(*args, **kwargs)
    else:
      return f"No admin permissions for {user['username']}"

  return secure_function

@make_secure #this is the decorator
def get_password(panel):
  if panel =='admin':
    return "1234"
  elif panel =='billing':
    return "super_secure_password"

print(get_password("billing"))

No admin permissions for jose

#Decorators with parameters

In [127]:
import functools

user = {"username":"jose","access_level":"user"}

def make_secure(access_level):
  def decorator(func):
    @functools.wraps(func)
    def secure_function(*args, **kwargs):
      if user["access_level"] == access_level:
        return func(*args, **kwargs)
      else:
        return f"No {access_level} permissions for {user['username']}"

    return secure_function

  return decorator

@make_secure("admin") #this is the decorator
def get_admin_password():
  return "admin: 1234"

@make_secure("user")
def get_dashboard_password():
  return "user: user_password"


print(get_admin_password())
print(get_dashboard_password())
#
user = {"username":"ana","access_level":"admin"}
print(get_admin_password())
print(get_dashboard_password())

No admin permissions for jose
user: user_password
admin: 1234
No user permissions for ana

#Mutability in Python

In [128]:
del a
del b

a = 8597
b = 8597

print(id(a))
print(id(b))

a = 8598

print(id(a))
print(id(b))

139761086990160
139761086990000
139761086992720
139761086990000

In [129]:
del a
del b

a = "hello"
b = a

print(id(a))
print(id(b))

a = a + "world"

139762077667056
139762077667056

In [135]:
from typing import List, Optional

class Student:
  def __init__(self,name:str,grades:Optional[List[int]] = None):
    self.name = name
    self.grades = grades or []

  def take_exam(self,result):
    self.grades.append(result)

bob = Student("Bob" , [13, 45])
bob.take_exam(90)
print(bob.grades)

rolf = Student("Rolf")
# rolf.take_exam(90)
print(rolf.grades)

[13, 45, 90]
[]